

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.navFlag {
    width: 18px;
    height: auto;
}

.smallFlag {
    width: 16px;
    height: auto;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.footer-divider {
    margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.artista {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}











