

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.smallFlag {
    width: 16px;
    height: auto;
}

.dropdown-backdrop {
    position: static;
}














