

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.smallFlag {
    width: 16px;
    height: auto;
}

.inputFlag {
    width: 28px;
    float: left;
    vertical-align: top !important;
}


.dropdown-backdrop {
    position: static;
}

.tab-pane {
    padding-top: 20px;
}














