

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.smallFlag {
    width: 16px;
    height: auto;
}

.dropdown-backdrop {
    position: static;
}














